.caption {
  /* height: 35px; */
  height: 525px;
  /* overflow: hidden; */
  background: url(../img/btn_green.gif) no-repeat 0 0;
}

.caption h2 {
  float: left;
  width: 84px;
  /* height: 35px; */
  height: 525px;
  /* overflow: hidden; */
  background: url(../img/btn_red.gif) no-repeat;
  text-indent: -9999px;
}

.caption .cartoon {
  background-position: 0 -100px;
}

.caption .variety {
  background-position: -100px -100px;
}

.tip {
  display: inline;
  float: left;
  margin: 14px 0 0 10px;
}

.tip span {
  display: inline;
  float: left;
  width: 7px;
  /* height: 7px; */

  height: 525px;
  /* overflow: hidden; */
  margin: 0 2px;
  background: url(../img/btn_red.gif) no-repeat 0 -320px;
  text-indent: -9999px;
}

.tip .current {
  background-position: 0 -220px;
}

.btn {
  float: left;
  margin: 7px 0 0 10px;
}

.btn span {
  display: block;
  float: left;
  width: 30px;

  /* height: 23px; */
  height: 525px;
  /* overflow: hidden; */
  background: url(../img/btn_blue.gif) no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}

.btn .prev {
  background-position: 0 -400px;
}

.btn .next {
  width: 31px;
  background-position: -30px -400px;
}

.caption em {
  display: inline;
  float: right;
  margin: 10px 12px 0 0;
  font-family: simsun;
}